<div [class]="ParentInjected ? 'section-n-padding' : 'section'">
  <div class="section-title">
    <h1>Leaderboard</h1>
    <a *ngIf="ParentInjected" (click)="loadLeaderboardData(0)" routerLink="/users" class="see-all-link">
      See all rankings <i class="fas fa-chevron-right"></i>
    </a>
  </div>

  <ng-container *ngIf="leaderboardUsers$ | async as leaderboardUsers; else leaderboardLoading">
    <div *ngIf="leaderboardUsers.length > 0; else emptyLeaderboard">
      <div class="leaderboard">
        <div class="leaderboard-item" 
             *ngFor="let user of leaderboardUsers; trackBy: trackByUserId; let i = index"
             [class.rank-1]="i === 0"
             [class.rank-2]="i === 1"
             [class.rank-3]="i === 2">
          <div class="rank">{{ i + 1 }}</div>
          <div class="user-info">
            <img [src]="user.avatar" crossorigin="anonymous" (error)="handleAvatarError($event)">
            <div class="name">{{ user.userId == currentUser._id ? 'You' : user.name}}</div>
          </div>
          <div class="points">{{ user.points}} pts</div>
          <i class="fas fa-crown crown {{ 'crown-' + (i+1)}}" *ngIf="i < 2"></i>
          <i class="fas fa-trophy trophy" *ngIf="i < 3"></i>
        </div>
      </div>
    </div>

    <ng-template #emptyLeaderboard>
      <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-row">
            <div class="ph-col-12 big"></div>
            <div class="ph-col-12 big"></div>
            <div class="ph-col-12 big"></div>
            <div class="ph-col-12 big"></div>
            <div class="ph-col-12 big"></div>
            <div class="ph-col-12 big"></div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #leaderboardLoading>
    <div class="ph-item">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big"></div>
        </div>
      </div>
    </div>
  </ng-template>
</div>