.login-card {
    border-radius: 20px;
    padding: 0 2rem 0 2rem;
    width: 100%;
    max-width: 420px;
    font-family: 'Poppins', sans-serif;
}

.brand-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    p {
        font-size: 25px;
        color: #747474;
        font-weight: 900;
    }

    img {
        width: 40px;
    }
}
.brand{
    margin-bottom: 10px;
}

.brand h1 {
    margin: unset;
    font-size: 1.75rem;
    color: #1a1a1a;
    margin-bottom: 0.5rem;
}


.form-group {
    margin-bottom: 1rem;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 0.9rem;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 2px solid #e1e1e1;
    border-radius: 12px;
    font-size: 1rem;
    transition: all 0.3s ease;
    outline: unset;
}


.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.remember-me input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border-radius: 4px;
}

.remember-me label {
    color: #666;
    font-size: 0.9rem;
}

.forgot-password {
    color: #000;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
}

.login-btn {
    width: 100%;
    padding: 1rem;
    background: #666666;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:active {
    transform: translateY(0);
}

.social-login {
    margin-top: 2rem;
    text-align: center;
}

.social-login p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    position: relative;
}

.social-login p::before,
.social-login p::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 22%;
    height: 1px;
    background: #e1e1e1;
}

.social-login p::before {
    left: 0;
}

.social-login p::after {
    right: 0;
}

.social-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.social-btn {
    width: 50px;
    height: 50px;
    border: 2px solid #e1e1e1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}


.signup-link {
    text-align: center;
    margin-top: 1.5rem;
}

.signup-link a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.signup-link a:hover {
    text-decoration: underline;
}

.error {
    color: #dc3545;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    display: none;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    60% {
        transform: translateX(-5px);
    }

    40%,
    80% {
        transform: translateX(5px);
    }
}

.shake {
    animation: shake 0.5s ease;
}