<ion-content [fullscreen]="true" class="category-content">
  <div class="section-title">
    <a routerLink="/home" class="back-button">
      <i class="fas fa-chevron-left"></i> Back
    </a>
    <h2>Categories</h2>
  </div>
  
  <div class="category-container">
    <div class="category-n-scroll">
      <div class="category-card active">
        <div class="icon-wrapper">
          <i class="fas fa-calculator"></i>
        </div>
        <h4>Math</h4>
      </div>
      <div class="category-card">
        <div class="icon-wrapper">
          <i class="fas fa-flask"></i>
        </div>
        <h4>Science</h4>
      </div>
      <div class="category-card">
        <div class="icon-wrapper">
          <i class="fas fa-book"></i>
        </div>
        <h4>Literature</h4>
      </div>
      <div class="category-card">
        <div class="icon-wrapper">
          <i class="fas fa-globe-americas"></i>
        </div>
        <h4>Geography</h4>
      </div>
      <div class="category-card">
        <div class="icon-wrapper">
          <i class="fas fa-history"></i>
        </div>
        <h4>History</h4>
      </div>
      <!-- Add more categories as needed -->
    </div>
  </div>
</ion-content>