<ion-app>
  <ion-router-outlet></ion-router-outlet>
      <!-- Bottom Navigation -->
      <div class="bottom-nav">
        <a routerLink="/home" class="nav-item active">
          <i class="fas fa-home"></i>
          <span>Home</span>
        </a>
        <a routerLink="/discover" class="nav-item">
          <i class="fas fa-compass"></i>
          <span>Discover</span>
        </a>
        <a routerLink="/create" class="nav-item">
          <i class="fas fa-plus-circle"></i>
          <span>Create</span>
        </a>
        <a routerLink="/alert" class="nav-item">
          <i class="fas fa-bell"></i>
          <span>Alerts</span>
          <div class="badge">3</div>
        </a>
        <a  routerLink="/profile" class="nav-item">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </a>
      </div>
      
  <app-loader *ngIf="showLoader"></app-loader>
</ion-app>
