<ion-content>
  <div class="main">
    <div class="header">
      <div class="header-summary">
        <div class="summary-text">
          My Balance
        </div>
        <div class="summary-balance">
          &#8377; 293.00
        </div>
      </div>
      <div class="user-profile">
        <img src="https://pbs.twimg.com/profile_images/1089189690773712897/bCJr7IzK_400x400.jpg" class="user-photo">
      </div>
    </div>
    <div class="content">
      <div class="card">
        <div class="upper-row">
          <div class="card-item">
            <span>Active Balance</span>
            <span> &#8377; 293.00</span>
          </div>
          <div class="card-item">
            <span>Active Points</span>
            <span>2312</span>
          </div>
        </div>
        <div class="button-row">
          <button class="action-button withdraw">
            <i class="fas fa-money-check-alt"></i>
            <span>Withdraw</span>
          </button>
          <button class="action-button send">
            <ion-icon name="send-outline"></ion-icon>
            <span>Send</span>
          </button>
        </div>
      </div>
      <div class="transactions">
        <span class="t-desc">Recent Transactions</span>
        <div class="transaction">
          <div class="t-icon-container">
            <i  class="fas fa-wallet icon"></i> 
            <!-- Icon can be added here -->
          </div>
          <div class="t-details">
            <div class="t-title">Withdraw</div>
            <div class="t-time">03.45PM</div>
          </div>
          <div class="t-amount pending">Pending</div>
        </div>
        <div class="transaction">
          <div class="t-icon-container">
            <i  class="fas fa-wallet icon"></i> 
            <!-- Icon can be added here -->
          </div>
          <div class="t-details">
            <div class="t-title">Points Shared</div>
            <div class="t-time">03.45 AM</div>
          </div>
          <div class="t-amount">+&nbsp;200 points</div>
        </div>
        <div class="transaction">
          <div class="t-icon-container">
            <i  class="fas fa-wallet icon"></i> 
            <!-- Icon can be added here -->
          </div>
          <div class="t-details">
            <div class="t-title">Withdraw</div>
            <div class="t-time">08.00PM</div>
          </div>
          <div class="t-amount red">-&nbsp;120&#8377;</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>