
<ion-content [fullscreen]="true">
  <div class="header">
    <ion-icon size="medium" (click)="goBack()" class="ionic-icon" name="arrow-back-outline"></ion-icon>
    <h3>Wallet</h3>
  </div>
  <div class="main">
    <div class="content">
      <div class="card">
        <div class="upper-row">
          <div class="card-item">
            <span>Active Balance</span>
            <span> &#8377; 293.00</span>
          </div>
          <div class="card-item">
            <span>Active Points</span>
            <span>2312</span>
          </div>
        </div>
        <div class="button-row">
          <button class="action-button withdraw">
            <i class="fas fa-money-check-alt"></i>
            <span>Withdraw</span>
          </button>
          <button class="action-button send">
            <ion-icon name="send-outline"></ion-icon>
            <span>Send</span>
          </button>
        </div>
      </div>

      <div class="info-note" id="infoNote">
        <span>
          Withdrawals will be available starting next month! Keep playing and earning rewards, so you can withdraw a larger amount. Study hard, earn more, and get ready to redeem your rewards!
        </span>
    </div>

    <div class="transactions">
      <span class="t-desc">Recent Transactions</span>
      <div class="no-transaction">
        <img src="assets/no-transactions.png" alt="">
      </div>
     <div *ngIf="false">
      <div class="transaction">
        <div class="status-container">
          <i class="fas fa-wallet icon"></i>
          <div class="status-details">
            <div class="t-title">Withdraw</div>
            <div class="t-time">03.45PM</div>
          </div>
        </div>
        <div class="amount-details">
          <div class="t-amount pending">200 points</div>
        </div>
      </div>
      <div class="transaction">
        <div class="status-container">
          <i class="fas fa-wallet icon"></i>
          <div class="status-details">
            <div class="t-title">Points Shared</div>
            <div class="t-time">03.45 AM</div>
          </div>
        </div>
        <div class="amount-details">
          <div class="t-amount">+ 200 points</div>
        </div>
      </div>
      <div class="transaction">
        <div class="status-container">
          <i class="fas fa-wallet icon"></i>
          <div class="status-details">
            <div class="t-title">Withdraw</div>
            <div class="t-time">08.00PM</div>
          </div>
        </div>
        <div class="amount-details">
          <div class="t-amount red">- 120&#8377;</div>
        </div>
      </div>
     </div>
    </div>
    </div>
  </div>
</ion-content>