
<ion-content [fullscreen]="true" class="category-content">
  <div class="section-title">
    <a routerLink="/home" class="back-button">
      <i class="fas fa-chevron-left"></i> Back
    </a>
    <h2>Quizes</h2>
  </div>
  

  <div class="quiz-card">
    <img src="https://i.pinimg.com/736x/1e/b5/50/1eb550a25e2d548ef5496b3d36572f3a.jpg" class="banner" alt="Math Quiz">
    <div class="badge">New</div>
    <div class="content">
      <h3>English Basics Challenge</h3>
      <div class="meta">
        <div class="participants">
          <img src="https://randomuser.me/api/portraits/women/44.jpg">
          <img src="https://randomuser.me/api/portraits/men/22.jpg">
          <span>+128 playing</span>
        </div>
        <div class="points"><i class="fas fa-bolt"></i> 50 XP</div>
      </div>
    </div>
  </div>
  
  <div class="quiz-card">
    <img src="https://i.pinimg.com/736x/3a/be/2d/3abe2d9d2f1f4bb16c37d0279477cbe6.jpg" class="banner" alt="Science Quiz">
    <div class="badge">Trending</div>
    <div class="content">
      <h3>Mathematics Master</h3>
      <div class="meta">
        <div class="participants">
          <img src="https://randomuser.me/api/portraits/women/33.jpg">
          <img src="https://randomuser.me/api/portraits/men/11.jpg">
          <span>+86 playing</span>
        </div>
        <div class="points"><i class="fas fa-bolt"></i> 35 XP</div>
      </div>
    </div>
  </div>

  <div class="quiz-card">
    <img src="https://i.pinimg.com/736x/2b/be/0b/2bbe0b9003d14e90a9b5c1399d200395.jpg" class="banner" alt="Science Quiz">
    <div class="content">
      <h3>Geography Basics Challenge</h3>
      <div class="meta">
        <div class="participants">
          <img src="https://randomuser.me/api/portraits/women/33.jpg">
          <img src="https://randomuser.me/api/portraits/men/11.jpg">
          <span>+86 Joined</span>
        </div>
        <div class="points"><i class="fas fa-bolt"></i> 35 XP</div>
      </div>
    </div>
  </div>

  <div class="quiz-card">
    <img src="https://i.pinimg.com/736x/4f/21/fc/4f21fc3d797bbb66ddd37b09e92e70cc.jpg" class="banner" alt="Science Quiz">
    <div class="content">
      <h3>History Basics Challenge</h3>
      <div class="meta">
        <div class="participants">
          <img src="https://randomuser.me/api/portraits/women/33.jpg">
          <img src="https://randomuser.me/api/portraits/men/11.jpg">
          <span>+86 Joined</span>
        </div>
        <div class="points"><i class="fas fa-bolt"></i> 35 XP</div>
      </div>
    </div>
  </div>


</ion-content>
