/* Full screen styling */
.category-content {
    --padding-top: 20px;
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-bottom: 20px;
  }
  
  
  .section-title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    position: relative;
  }
  
  .back-button {
    display: flex;
    align-items: center;
    color: var(--ion-color-primary); /* Use your theme color */
    text-decoration: none;
    font-size: 16px;
    margin-right: 16px;
  }
  
  .back-button i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .section-title h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #333;
  }
  