<ion-content [fullscreen]="true">
  <!-- Header with user greeting and stats -->
  <div class="homeHeader">
    <div class="homeHeader-content">
      <div class="user-greeting">
        <h1>Welcome back, {{currentUser.name}}!</h1>
        <p>Ready to challenge yourself today?</p>
      </div>

      <img [src]="currentUser.avatar" (click)="logout()" crossorigin="anonymous" class="user-avatar"
        (error)="avatarError($event)">
    </div>
  </div>

  <!-- Main content section -->
  <app-quizes [ParentInjected]="true" (handleRefresh)="handleRefresh($event)"  [publishedQuizzes$]="publishedQuizzes$">
    <!-- Leaderboard using ng-content -->
    <app-users [ParentInjected]="true" [leaderboardUsers$]="leaderboardUsers$"></app-users>
  </app-quizes>


  
    
</ion-content>