.ph-item{
    padding: unset !important;
    margin: unset !important;
    border: unset !important;
  }
  .ph-avatar{
    width: 35px;
    height: 35px;
    min-width: unset;
    margin: unset;
  }
  
  .ph-row div{
    height: unset;
  }