<ion-content [fullscreen]="true">
  <div class="phone">
    <!-- Header with user greeting and stats -->
    <div class="homeHeader">
      <div class="homeHeader-content">
        <div class="user-greeting">
          <h1>Welcome back, {{User.name}}!</h1>
          <p>Ready to challenge yourself today?</p>
        </div>
        <img loading="lazy" routerLink="/login" (click)="logout()" [src]="User.avatar || 'assets/AppLogo.png'"
          alt="User" class="user-avatar">
      </div>


      <div class="stats-container" *ngIf="!userStats">
        <div class="stat-card skeleton">
          <div class="fas"></div>
          <div class="value"></div>
          <div class="label"></div>
        </div>

        <div class="stat-card skeleton">
          <div class="fas"></div>
          <div class="value"></div>
          <div class="label"></div>
        </div>

        <div class="stat-card skeleton">
          <div class="fas"></div>
          <div class="value"></div>
          <div class="label"></div>
        </div>

      </div>

      <div class="stats-container" *ngIf="userStats">
        <div class="stat-card">
          <i class="fas fa-trophy"></i>
          <div class="value">{{userStats.points}}</div>
          <div class="label">XP Points</div>
        </div>
        <div class="stat-card">
          <i class="fas fa-medal"></i>
          <div class="value">{{userStats.rank}}</div>
          <div class="label">Rank</div>
        </div>
        <div class="stat-card">
          <i class="fas fa-fire"></i>
          <div class="value">{{userStats.streak.current}}</div>
          <div class="label">Streak</div>
        </div>
      </div>
    </div>

    <!-- Main content section -->
    <div class="section">
      <!-- Search bar -->
      <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search quizzes, topics...">
      </div>

      <!-- Categories -->
      <div class="section-title">
        <h2>Categories</h2>
        <a routerLink="/categories">See all <i class="fas fa-chevron-right"></i></a>
      </div>
      <div class="category-scroll skeleton-value">
        <div class="category-card active">
          <div class="icon-wrapper">
            <i class="fas fa-calculator"></i>
          </div>
          <h4>Math</h4>
        </div>
        <div class="category-card">
          <div class="icon-wrapper">
            <i class="fas fa-flask"></i>
          </div>
          <h4>Science</h4>
        </div>
        <div class="category-card">
          <div class="icon-wrapper">
            <i class="fas fa-book"></i>
          </div>
          <h4>Literature</h4>
        </div>
        <div class="category-card">
          <div class="icon-wrapper">
            <i class="fas fa-globe-americas"></i>
          </div>
          <h4>Geography</h4>
        </div>
        <div class="category-card">
          <div class="icon-wrapper">
            <i class="fas fa-history"></i>
          </div>
          <h4>History</h4>
        </div>
      </div>

      <!-- Featured Quizzes -->
      <div class="section-title">
        <h2>Featured Quizzes</h2>
        <a routerLink="/quizes">View all <i class="fas fa-chevron-right"></i></a>
      </div>

      <div class="quiz-card" *ngFor="let quiz of quizesDraft;let i = index">
        <div class="quiz-header">
          <h3 class="quiz-title">
            <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20Z"
                fill="currentColor" />
              <path d="M12 6C8.69 6 6 8.69 6 12C6 15.31 8.69 18 12 18C15.31 18 18 15.31 18 12C18 8.69 15.31 6 12 6Z"
                fill="currentColor" />
            </svg>
            {{quiz.title}}
          </h3>

        </div>
        <p class="quiz-description">{{quiz.description}}</p>
        <div class="quiz-meta">
          <span class="meta-item">
            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12 8V12L15 15M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            {{ quiz.estimatedTime / 60 }} min
          </span>
          <span class="meta-item">
            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M12 8V12L15 15" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            {{quiz.difficulty}}
          </span>
          <span class="meta-item">
            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8 10H8.01M12 10H12.01M16 10H16.01M8 14H8.01M12 14H12.01M16 14H16.01M8 18H8.01M12 18H12.01M16 18H16.01M7 4H17C18.1046 4 19 4.89543 19 6V18C19 19.1046 18.1046 20 17 20H7C5.89543 20 5 19.1046 5 18V6C5 4.89543 5.89543 4 7 4Z"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            {{quiz.totalQuestions}} Qs
          </span>
        </div>
        <div class="quiz-meta">
          <span class="meta-item">
            <i class="fas fa-bolt"></i>
            50 XP
          </span>
          <span class="meta-item">
            <div class="meta">
              <div class="participants">
                <img src="https://randomuser.me/api/portraits/women/44.jpg">
                <img src="https://randomuser.me/api/portraits/men/22.jpg">
                <span>+128 playing</span>
              </div>
            </div>
          </span>
          <span class="meta-item"></span>
        </div>
        
        <div class="quiz-actions">
          <button class="action-btn approve-btn" (click)="startQuiz(quiz._id)">
            Start
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
        </div>

      </div>

      <!-- Progress Card -->
      <div class="progress-container">
        <div class="progress-homeHeader">
          <div class="progress-title">
            <i class="fas fa-chart-line"></i> Your Learning Progress
          </div>
          <div class="progress-percent">65%</div>
        </div>
        <div class="progress-bar">
          <div class="progress-fill"></div>
        </div>
        <div class="progress-stats">
          <span>Daily goal: 100 XP</span>
          <span>1,250/2,000 XP</span>
        </div>
      </div>

      <!-- Leaderboard -->
      <div class="section-title">
        <h2>Top Learners</h2>
        <a href="#">See ranking <i class="fas fa-chevron-right"></i></a>
      </div>

      <div class="quiz-card">
        <div class="content" style="padding-bottom: 8px;">
          <div class="leaderboard-item" *ngFor="let user of LeaderboardUser;let i = index">
            <div class="rank">{{i+1}}</div>
            <div class="user">
              <img [src]="user.avatar">
              <div>
                <div class="name">{{user.name}}</div>
              </div>
            </div>
            <div class="points">{{user.points}}</div>
          </div>
        </div>
      </div>
    </div>


    <!-- Floating Action Button -->
    <!-- <button class="floating-btn">
      <i class="fas fa-bolt"></i>
    </button> -->
  </div>
</ion-content>